services:
  sftp:
    build:
      context: .
      dockerfile: docker/sftp/Dockerfile
    volumes:
      - remote_www:/var/www/html
    environment:
      - TZ=UTC

  dev:
    build:
      context: .
      dockerfile: docker/dev/Dockerfile
    depends_on:
      - sftp
    working_dir: /workspace
    volumes: []
    environment:
      - TZ=UTC

volumes:
  remote_www:
